*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Courier New', Courier, monospace;
}

.container{
width: 100%;
min-height: 100vh;
background: linear-gradient(135deg,#153677,#4e085f);
padding: 10px;
}

.todo-app{
width: 100%;
max-width: 540Px;
background: white;
margin:100px auto 20px;
padding: 40px 30px 70px;
border-radius: 10px;
}

.todo-app h1{
color: #002765;
display: flex;
align-items: center;
margin-bottom: 20px;
}

.todo-app h1 img{
width: 30px;
margin-left: 10px;
}

.row{
display: flex;
align-items: center;
justify-content: space-between;
background: #edeef0;
border-radius: 30px;
padding-left: 20px;
margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    background: transparent;
    font-weight: 14px;
}

button{
border: none;
outline: none; 
padding: 15px 50px;  
background: #ff5945;
font-size: 16px; 
border-radius: 30px;
}

ul li{
list-style: none;
font-size: 17px;
padding: 12px 8px 12px 50px;
user-select: none;
cursor: pointer;
position: relative;
margin-bottom: 10px;
}

ul li::before{
content: '';
position: absolute;
height: 28px;
border-radius: 50%;
width: 28px;
height: 28px;
background-image: url(./square.png);
background-size: cover;
background-position: center;
top: 8px;
left: 8px;
}

ul li.checked{
color: #555;
text-decoration: line-through;
}

ul li.checked::before{
background-image: url(./check-box.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    align-content: center;
}

ul li span:hover{
background-color: #ff5945;
}


@media(max-width: 580px){

.container{
width: 100%;
align-content: center;
min-height: 100vh;
}

.todo-app{
width: 80%;
margin: auto;
}



input{
flex: 1;
width:10px;
}

input::placeholder{
display: none;
}

button{
flex: 0;
width: 40%;
padding: 15px;
}

}

























/* body{
padding: 0;
margin: 0;
box-sizing: border-box;
}


.Container{
    height: 700px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.content-container{
    border: 1px solid black;
    height: fit-content;
    align-content: center;
    padding: 30px;
    margin-top: 150px;
    background-color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
text-align: center;
}


ul{
list-style-type:none;
line-height: 3;
} */
